.container {
  margin: 0;
}
.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}  
.intro:nth-child(2) {
  flex-direction: row-reverse;
}
.introText {
  width: 55%;
  font-size: 1rem;
  margin: 10px;
  justify-content: center;
}
.introImage {
  width: 40%;
  height: min-content;
  padding: 10px;
  overflow: hidden;
  height: 300px;
}
.introImage img {
  background-size: cover;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .introText {
    width: 90%;
  }
  .introImage {
    width: 90%;
  }
}
