.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}
.title {
  text-align: center;
}
.imagesContainer {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.image {
  width: 100%;
  height: auto;
  border: 2px solid #d1421e;
  object-fit: contain;
}
.imageGallery {
  margin: 5px;
}
.imageGalleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageContainer {
  margin-bottom: 10px;
}
.image {
  max-width: 100%;
  height: auto;
  width: 800px;
}
@media (max-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }
}
