.sliderContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 480px) {
  .image {
    width: 260vw;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .image {
    width: 260vw;
    height: auto;
  }
}
